.tabs__list {
  display: flex;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid black;
  list-style-type: none;
}

.tabs__button {
  padding: 0.5rem;
  margin: 0 3px;
  text-decoration: underline;
  border: none;
}

.tabs__button--active {
  font-weight: 700;
  background-color: #eee;
}

.tabs__panel {
  padding: 0.5rem;
}

[aria-hidden] {
  display: none;
}
