<AccessibleTabs @tabItems={{tabItems}} as |tab|>
  <tab.panel @id="First">
    <p>
      First!
    </p>
  </tab.panel>

  <tab.panel @id="Second">
    <p>
      Second!
    </p>
  </tab.panel>

  <tab.panel @id="Third">
    <p>
      Third!
    </p>
  </tab.panel>

  <tab.panel @id="Fourth">
    <p>
      Fourth!
    </p>
  </tab.panel>
</AccessibleTabs>